<li>
	<%= qwyz.name %>, image count: <%= qwyz.qwyz_items.count %>
	<%= link_to "Edit Qwyz Info", edit_qwyz_path(qwyz) %>,
	<%= link_to "Add images", qwyz %>,
	<%= link_to "Qwyz results", qwyz_votes_path(qwyz.id) %>
	<!-- <%= link_to "delete", qwyz, :method => :delete, 
			data: { confirm: 'You sure?' }, 
			:name => qwyz.name %> -->
</li>
