
<div id="my-qwyzs-body">
	<div id="my-qwyz-top">
		<span>My Qwyzs</span>
		<%= link_to "Create a new Qwyz", new_qwyz_path %>
	</div>

	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Active Image count</th>
		</tr>
		<% @qwyzs.each do |qwyz| %>
			<tr>
				<td><%= qwyz.name %></td>
				<td><%= qwyz.description %></td>
				<td>
					<%= qwyz.active_item_count %>
					<% if qwyz.active_item_count == 0 %>
						<span class="required-note" >(need to add images)</span>
					<% end %>
				</td>
				<td class="link-cell" ><%= link_to "Edit", edit_qwyz_path(qwyz) %></td>
				<td class="link-cell" ><%= link_to "Images", qwyz %></td>
				<td class="link-cell" ><%= link_to "Results", qwyz_votes_path(qwyz.id) %></td>
			</tr>
		<% end %>
		<% if @qwyzs.count == 0 %>
			<td></td>
			<td>
				<span class="quiet-note">You have no Qwyzs.</span>
				<%= link_to "Please create one", new_qwyz_path %></td>
			<td></td>
		<% end %>
	</table>
</div>
