
<h2>Inactive Qwyz Items</h2>
for qwyz: <%=@qwyz.name%>
<hr/>
<br/>
<% @qwyz.qwyz_items.each_with_index do |item, n| %>
	<% if item.inactive? %>
		<%= n+1%>. Description:  <%=item.description%> | 
		<%= link_to "Edit", edit_qwyz_item_path(@qwyz, item)%> | 
		<%= button_to "Activate", { action: 'activate', controller: 'qwyz_items',
						id: item.id} %>
		<% if !item.image.blank? %>
			<%= image_tag item.image_url(:thumb).to_s %><br/>
		<% end %>
	<% end%>
<% end %>
<br/>
<hr/>
<br/>
<%= link_to "back to View Qwyz", @qwyz %>
(<%=@qwyz.active_item_count%>)