
<div id="manage-qwyz-images">
	<div id="manage-img-top">
		<h1>Manage Qwyz Images</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Question</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><span><%=@qwyz.name%></span></td>
				<td><span><%=@qwyz.question%></span></td>
				<td><span><%=@qwyz.description%></span></td>
				<td class="link-cell" ><%= link_to "Edit", edit_qwyz_path(@qwyz) %></td>
			</tr>
		</table>
	</div>

	<%= link_to "Add a new item", new_qwyz_item_path(qwyz_id: @qwyz.id) %>

	<table>
		<tr>
			<th>Image</th>
			<th>Description</th>
		</tr>
		<% @qwyz.qwyz_items.each_with_index do |item, n| %>
			<% if item.active? %>
				<tr>
					<td class="image-cell">
						<% if !item.image.blank? %>
							<%= image_tag item.image_url(:thumb).to_s %>
						<% elsif %>
							no image
						<% end %>
					</td>
					<td><span><%=item.description%></span></td>
					<td class="link-cell"><%= link_to "Edit", edit_qwyz_item_path(item)%></td> 
					<td class="link-cell"><%= button_to "Deactivate", item, method: 'delete'%></td>
				</tr>
			<% end%>
		<% end %>
	</table>

	<%= link_to "View inactive images", 
				inactive_qwyz_items_path( id: @qwyz.id )%>
	<span id="inactive-count">(<%=@qwyz.inactive_item_count%> images are inactive)</span>

</div>

