<li class="user_row">
	<%= link_to user[:name], user %>
	<% if current_user.admin? && !current_user?(user) && !user.admin? %>
		<%if user.deactivated? 
				status = User::STATUS[:activated]
				action_name = "Activate"
				button_class = "activate_button"
			else
				status = User::STATUS[:deactivated]
				action_name = "Deactivate"
				button_class = "deactivate_button"
			end
		%>
		<%= form_for(user, action: "update") do |f| %>
				<%= f.hidden_field :status, value: status %>
				<%= f.hidden_field :id, value: user[:id] %>
				<div class="<%=button_class%>">
					<%= f.submit action_name %>
				</div>
		<% end %>
	<% end %>
</li>