<h1>Change Password</h1>
<h4>for <%=current_user.name%></h4>
<%= form_for(current_user, url: {action: "change_password"}) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.hidden_field :id, value: current_user.id %>
	<div class='field'>
		<%= f.label :password, "Current password"%><br/>
		<%= f.password_field :password%>
	</div>
	<div class='field'>
		<%= label_tag :new_password, "New password"%><br/>
		<%= password_field_tag( :new_password, nil, size: 30 )%>
	</div>
	<div class='field'>
		<%= label_tag :new_password_confirm, "Confirm new password"%><br/>
		<%= password_field_tag :new_password_confirm, nil, size: 30 %>
	</div>
	<div class='actions'>
		<%= f.submit "Change Password"%>
	</div>
<% end %>