
<h3>Enter a new password.</h3>

<%= form_for(@user, url: reset_pass_path) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.hidden_field :password_reset_token %>
	<div class='field'>
		<%= f.label :name %><br/>
		<%= f.text_field :name%>
	</div>
	<div class='field'>
		<%= f.label :password%><br/>
		<%= f.password_field :password%>
	</div>
	<div class='field'>
		<%= f.label :password_confirmation, "Confirm password"%><br/>
		<%= f.password_field :password_confirmation%>
	</div>
	<div class='actions'>
		<%= f.submit "Save new password"%>
	</div>
<% end %>
