
<div id="new-qwyz-item">
	<h2>Add a New Image to <span id="top-qwyz-name"><%=@qwyz.name%></span></h2>
	
	<%= form_for(@qwyz_item, html: {multipart: true}) do |f| %>
		<%= hidden_field_tag :qwyz_id, @qwyz_item.qwyz_id %>
		<div>
			<span>Step 1</span>
			<%= f.file_field :image %><span class="required-note">(required)</span>
		</div>
		<div id="qwyz_item_description">
			<span>Step 2</span>
			<span>Enter a brief description or name</span>
			<span class="required-note">(required)</span>
			<%= f.text_area :description %>
		</div>
		<div class="actions">
			<%= f.submit :save %>
		</div>
	<% end %>
</div>
