
<div id="top">
	
	<span id="results-msg" >Voting results for </span>
	<span id="qwyz-name" ><%= @qwyz.name%></span>
	<span id="author" >by <%= @author.name %></span>
	
	<% if @remaining_vote_count > 0 %>
		<%= link_to "Continue taking this Qwyz.", new_qwyz_vote_path(@qwyz),
				class: "primary-button vote-stat-msg" %>
		<span id="vote-count-msg"><%=@votes_cast%>/<%=@total_possible_votes%> votes</span>
	<% else %>
		<span class="vote-stat-msg">
			You have cast all possible votes for this Qwyz. (<%=@total_possible_votes %> votes)
		</span>
	<% end%>
	<div id="description">
		<pre><%= @qwyz.description%></pre>
	</div>
</div>

<table class="results-table">
	<tr>
		<th>Image</th>
		<th>Description</th>
		<th>Total Votes</th>
		<th>Your Votes</th>
	</th>
	<% @qwyz_result.each do |item, vote_count, user_vote_count| %>
		<% next if item.inactive? %>
		<tr>
			<td class="image-cell primary-button" >
				<%= link_to item do %>
					<%= image_tag item.image_url(:thumb, secure: true).to_s %> 
				<%  end %>
			</td>
			<td class="description-cell">
				<span><%= item.description%></span>
			</td>
			<td><%= vote_count %></td>
			<td><%= user_vote_count %></td>
		</tr>
	<% end %>
</table>
