

<h3><%= @qwyz.name%></h3>
<h3><%= @qwyz.question%></h3>
<hr/>

<%= form_for([@qwyz, @vote]) do |vote| %>
	<%= hidden_field_tag :left_item_id,  @left_item.id %>
	<%= hidden_field_tag :right_item_id,  @right_item.id %>
	<%= vote.submit @left_item.id.to_s, 
			type: :image, src: @left_item.image_url.to_s %>
	<%= vote.submit @right_item.id.to_s, 
			type: :image, src: @right_item.image_url.to_s %>
<% end %>

<hr/>

<h3><%= @qwyz.description%></h3>


