
<div id="votes-body">
	<div id="qwyz-vote-info">
		<div id="title-row">
			<span id="qwyz-name"><%= @qwyz.name%></span>
			<span id="author">by <%= @qwyz_owner.name %></span>
			<%= link_to "view qwyz results", root_path, id: "qwyz-results-link"%>
		</div>
		<div id="question-row">
			<h2 id="question"><%= @qwyz.question%></h2>
		</div>
	</div>
	
	<%= form_for([@qwyz, @vote]) do |vote| %>
		<%= hidden_field_tag :left_item_id,  @left_item.id %>
		<%= hidden_field_tag :right_item_id,  @right_item.id %>
		<table id="vote-table" cellpadding="10">
			<tr>
				<th><%= @left_item.description %></th>
				<th><%= @right_item.description %></th>
			</tr>
			<tr>
				<td class="vote-image">
					<%= vote.submit @left_item.id.to_s, 
							type: :image, src: @left_item.image_url(:vote).to_s, id: "left_img"%>
				</td>
				<td class="vote-image">
					<%= vote.submit @right_item.id.to_s, 
							type: :image, src: @right_item.image_url(:vote).to_s, id: "right_img" %>
				</td>
			</tr>
		</table>
	<% end %>
</div>


