<header>
	<div id="topbar">
		<%= link_to root_path, id: "logo-link" do %>
			<div id="logo">
				<span id="logo-q">Q</span>
				<span id="logo-wyzmo" >wyzmo</span>
				<span id="logo-beta">beta</span>
			</div>
		<% end %>
		<div id="login-bar">
			<% if signed_in? %>
				<span id="welcome-msg">Welcome <%=current_user.name%></span>
				<%= link_to "Sign out", signout_path, :method => :delete %>
				<%= link_to "Edit account", edit_user_path(current_user)%>
			<% else %>
				<span>Sign in:</span>
				<%= form_for(:session, url: sessions_path) do |f| %>
						<%= f.label :email %>:
						<%= f.text_field :email, id: "header-email-field" %>
						<%= f.label :password %>:
						<%= f.password_field :password, id: "header-password-field" %>
						<%= f.submit "Sign in" %>
				<% end %>
				<%= link_to "or Sign up", signup_path %>
			<% end %>
		</div>
	</div>
	

	<nav id="navbar">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "My Qwyzs", qwyzs_path %></li>
		</ul>
	</nav>
</header>
