<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' 
				rel='stylesheet' type='text/css'>
		<title><%= title%></title>
		<%= stylesheet_link_tag "application", media: "all", 
					"data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", 
					"data-turbolinks-track" => true %>
		<%= csrf_meta_tag %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div>
			<%= render 'layouts/header' %>
			<div id="main">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "flash #{key}") %>
				<% end %>
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>	



